<section class="section-edit-materia">
    <div class="container">
        <h2>{{ form_title }}</h2>

        <form action="{{ action_url }}" method="POST">
            <div class="mb-3">
                <label for="item_name" class="form-label">{{ input_title }}</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ item_name }}" required>
            </div>
            <div class="mb-3">
                <label for="item_description" class="form-label">{{ desc_title }}</label>
                <textarea class="form-control" id="descripcion" name="descripcion"
                    required>{{ item_description }}</textarea>
            </div>
            <button type="submit" class="btn btn-success">{{ button_text }}</button>
        </form>
    </div>
</section>