{% macro proyectos_section(title, subtitle, materias) %}
<div class="custom-container">
    <h1 class="custom-title-option">{{ title }}</h1>
</div>
<div class="custom-sections-per">
    <section class="custom-section-materias">
        <div class="custom-container">
            <h2 class="custom-subtitle-option"> {{ subtitle }}</h2> <!-- Muestra el subtítulo pasado al macro -->
            <ul class="custom-materia-list">
                {% for materia in materias %}
                <li class="custom-materia-item">
                    <h3>{{ materia.name }}</h3>
                    <p>{{ materia.description }}</p>
                    <a href="{{ materia.url }}" class="custom-btn">Ver más</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endmacro %}