{% extends "base.jinja" %}

{% block title %}Sesiones Activas{% endblock %}

{% block content %}
<div class="container">
    <h2>Sesiones Activas</h2>
    <table id="sessionsTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dirección IP</th>
                <th>Agente de Usuario</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se llenarán dinámicamente con JavaScript -->
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/apis/sessions.js') }}"></script>
{% endblock %}
