<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <!-- Incluir Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <form method="POST" action="{{ url_for('auth.register') }}">
                {{ register_form.hidden_tag() }}
                <h1>Crear cuenta</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div>
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <!-- Campos del formulario -->
                <div class="form-group">
                    {{ register_form.name(class_="form-input", placeholder="Nombre") }}
                    {% for error in register_form.name.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ register_form.phone(class_="form-input", placeholder="Teléfono") }}
                    {% for error in register_form.phone.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ register_form.surnames(class_="form-input", placeholder="Apellidos") }}
                    {% for error in register_form.surnames.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ register_form.email(class_="form-input", placeholder="Correo") }}
                    {% for error in register_form.email.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ register_form.password(class_="form-input", placeholder="Contraseña") }}
                    {% for error in register_form.password.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Checkbox de aviso de privacidad -->
                <label for="terms">
                    <input type="checkbox" id="terms" name="terms" required onchange="toggleButton()">
                    Acepto el <a href="/aviso-de-privacidad">aviso de privacidad</a>.
                </label>

                <!-- Botón de Crear cuenta -->
                <button type="submit" class="form-button" id="submitButton" disabled>Crear cuenta</button>

                <br>
                <p style="margin-top:20px">¿Tienes cuenta? <a href="{{ url_for('auth.login') }}">Iniciar sesión</a></p>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Función para activar o desactivar el botón y cambiar su estilo
        function toggleButton() {
            const checkbox = document.getElementById('terms');
            const button = document.getElementById('submitButton');

            if (checkbox.checked) {
                button.disabled = false; // Habilita el botón
            } else {
                button.disabled = true; // Deshabilita el botón
            }
        }
    </script>

</body>

</html>