{% extends "base.jinja" %}
{% block title %}Punto de Venta{% endblock %}

{% block content %}

<section class="section-hours">
    <div class="container">
        <h2>Punto de Venta</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Integrantes</th>
                    <th>Lenguaje</th>
                    <th>Terminado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>PHP</td>
                    <td>Si</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
