{% extends "base.jinja" %}
{% from 'components/seccion_option.jinja' import sections_per %}


{% block title %}Página Principal{% endblock %}

{% block content %}

{% set sections = [
{'name': 'Materias', 'url': url_for('auth.materias_roberto')},
{'name': 'Juegos', 'url': url_for('auth.juegos_roberto')},
{'name': 'Proyectos', 'url': url_for('auth.proyectos_roberto')}
] %}


{{ sections_per(sections) }}

{% endblock %}