    {% extends "base.jinja" %}
    {% block title %}{{ page_title }}{% endblock %}    
    {% block content %}
    <section class="section-juegos py-5">
        <div class="container">
            <h2 class="display-4 text-primary">{{ name}}</h2>
            <p class="lead text-muted">{{ description }}</p>
            <a href="{{ url_for('juegos.listar_juegos') }}" class="btn btn-secondary btn-lg mt-4">Volver a la lista de
                juegos</a>            
        </div>
    </section>
    {% endblock %}  