{% extends "base.jinja" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
<section class="section-game-detail">
    <div class="container">
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
        <a href="{{ url_for('auth.games') }}" class="btn btn-secondary">Volver a la lista de juegos</a>
    </div>
</section>
{% endblock %}
