{% extends "base.jinja" %}
{% from 'components/section_option-list.jinja' import proyectos_section %}



{% block title %}Página de juegos{% endblock %}

{% block content %}


{% set juegos = [
{'name': 'Fornite', 'description': 'Fortnite es un videojuego de acción y supervivencia desarrollado por Epic Games.',
'url': url_for('auth.juegos_jesus_fornite')},
{'name': 'COD', 'description': 'Call of Duty es una serie de videojuegos de disparos en primera persona,', 'url': url_for('auth.juegos_jesus_cod')},
{'name': 'Apex', 'description': 'Apex Legends es un popular juego de disparos en tercera persona de tipo *battle royale*
desarrollado', 'url': url_for('auth.juegos_jesus_apex')},
] %}

{{ proyectos_section('Bienvenido a la Página de Juegos', 'Lista de Juegos', juegos) }}
{% endblock %}