{% extends "base.jinja" %}
{% block title %}Página de juegos{% endblock %}

{% block content %}

<section class="section-info">
    <div class="container">
        <h2>Información del Curso</h2>
        <p><strong>Docente:</strong>Wilber Peñaloza Mendoza</p>
        <p><strong>Horario:</strong> Lunes:16:00 - 17:00, Martes: 18:00 - 19:00 y Miércoles: 15:00 - 16:00,
            Jueves: 17:00 - 18:00
        </p>
        <p><strong>Modalidad:</strong> Presencial</p>
    </div>
</section>

<section class="section-description">
    <div class="container">
        <h2>Descripción de la Materia</h2>
        <p>La materia de desarrollo web profesional se enfoca en la codificación y programación de sitios
            web, aplicaciones y software.
            En esta materia se estudian los lenguajes de programación como HTML, CSS, JavaScript y PHP.
            También se aprenden técnicas para crear, mantener y optimizar páginas web.
            Entre los temas que se abordan en esta materia se encuentran: Identificación de mecanismos de
            autentificación, Comprender el funcionamiento de multisesiones, Identificación de mecanismos
            para recuperación de contraseñas, Comprender el proceso para la protección de rutas, Estudio de
            casos. </p>
    </div>
</section>

<section class="section-topics">
    <div class="container">
        <h2>Temas a Cubrir</h2>
        <ul class="topic-list">
            <li class="topic-item">
                <h3>HTML y CSS</h3>
                <p>Aprenderás a estructurar páginas web con HTML y a darles estilo utilizando CSS,
                    incluyendo diseño responsivo.</p>
            </li>
            <li class="topic-item">
                <h3>JavaScript</h3>
                <p>Exploraremos el lenguaje de programación que da interactividad a las páginas web,
                    incluyendo conceptos como DOM, eventos y funciones.</p>
            </li>
            <li class="topic-item">
                <h3>Frameworks Frontend</h3>
                <p>Estudiaremos frameworks como React o Angular, para crear aplicaciones web dinámicas y
                    modernas.</p>
            </li>
            <li class="topic-item">
                <h3>Backend y Bases de Datos</h3>
                <p>Descubrirás cómo construir servidores con tecnologías como Node.js y gestionar bases de
                    datos con herramientas como MySQL o MongoDB.</p>
            </li>
            <li class="topic-item">
                <h3>Diseño UX/UI</h3>
                <p>Entenderemos los principios básicos de diseño enfocado en el usuario para mejorar la
                    experiencia de navegación.</p>
            </li>
            <li class="topic-item">
                <h3>Implementación y Despliegue</h3>
                <p>Aprenderás a lanzar tus proyectos al público utilizando servicios de alojamiento y CI/CD.
                </p>
            </li>
        </ul>
    </div>
</section>
{% endblock %}