{% extends "base.jinja" %}
{% from 'components/section_option-list.jinja' import proyectos_section %}



{% block title %}Página materias{% endblock %}

{% block content %}


{% set materias = [
{'name': 'Matemáticas', 'description': 'Explora el mundo de los números y las fórmulas.',
'url': url_for('auth.materias_tavo_mate')},
{'name': 'DESARROLLO WEB PROFESIONAL','description': 'Descubre las destructura de las paginas web.', 'url':
url_for('auth.materias_tavo_desa')},
{'name': 'EMPRENDIMIENTO DIGITAL', 'description': 'Conoce el pasado para entender el presente.', 'url':
url_for('auth.materias_tavo_empre')},
] %}

{{ proyectos_section('Bienvenido a la Página de Materias', 'Lista de Materias', materias) }}
{% endblock %}