{% extends "base.jinja" %}
{% block title %}Ingles{% endblock %}

{% block content %}

<section class="section-hours">
    <div class="container">
        <h2>Ingles</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Horas Totales</th>
                    <th>Horas Prácticas</th>
                    <th>Horas Teóricas</th>
                    <th>Unidades</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>120</td>
                    <td>80</td>
                    <td>40</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}