{% extends "base.jinja" %}
{% from 'components/section_option-list.jinja' import proyectos_section %}



{% block title %}Página proyectos{% endblock %}

{% block content %}


{% set proyectos = [
{'name': 'Cuestionario', 'description': 'Un proyecto donde las cuestios ayudan a mejorar','url':
url_for('auth.proyectos_tavo_cues')},
{'name': 'Mensajes', 'description': 'Descubre como funcionan los mensajes', 'url':
url_for('auth.proyectos_tavo_mensa')},
{'name': 'Tareas', 'description': 'Conoce el pasado para entender el presente.', 'url':
url_for('auth.proyectos_tavo_tareas')},
] %}

{{ proyectos_section('Bienvenido a la Página de Proyectos', 'Lista de Materias', proyectos) }}
{% endblock %}