{% extends "base.jinja" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<section class="section-add-item">

        {% include "components/formulario.jinja" with context %}

</section>
{% endblock %}
