{% extends "base.jinja" %}

{% block title %}Detalle de {{ modulo }}{% endblock %}

{% block content %}
<section class="section-detalle py-5">
    <div class="container">
        <h2 id="detalle-nombre" class="display-4 text-primary"></h2>
        <p id="detalle-descripcion" class="lead text-muted"></p>

        <a href="{{ url_for('catalo.mostrar_contenido', modulo=modulo) }}" class="btn btn-secondary btn-lg mt-4">
            Volver a la lista de {{ modulo.lower() }}
        </a>
    </div>
    <script src="{{ url_for('static', filename='js/apis/catalogo/detalle.js') }}"></script>
</section>
{% endblock %}