{% extends "base.jinja" %}

{% block title %}hola{% endblock %}

{% block content %}
<section class="section-materia-detail py-5">
    <div class="container">
        <h2 class="display-4 text-primary">{{ name }}</h2>
        <p class="lead text-muted">{{ description }}</p>
        <a href="{{ url_for('materia.listar_materias') }}" class="btn btn-secondary btn-lg mt-4">Volver a la lista de
            materias</a>
    </div>
</section>
{% endblock %}