{% extends "base.jinja" %}
{% from 'components/section_option-list.jinja' import proyectos_section %}



{% block title %}Página materias{% endblock %}

{% block content %}


{% set materias = [
{'name': 'Base de Datos', 'description': 'Explora tus conocimientos sobre bases de datos.',
'url': url_for('auth.materias_jesus_base')},
{'name': 'Ingles','description': 'Aprende las bases de la lengua inglesa.', 'url': url_for('auth.materias_jesus_ingles')},
{'name': 'Programacion', 'description': 'Aprende los fundamentos de la programacion.', 'url': url_for('auth.materias_jesus_programacion')},
] %}

{{ proyectos_section('Bienvenido a la Página de Materias', 'Lista de Materias', materias) }}
{% endblock %}