{% extends "base.jinja" %}
{% block title %}Clash Royale{% endblock %}

{% block content %}

<section class="section-hours">
    <div class="container">
        <h2>Estadísticas de Clash Royale</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Horas Jugadas</th>
                    <th>Pases de Batalla</th>
                    <th>Nivel del Pase</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>250</td>
                    <td>3</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>2</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>400</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form action="/procesar" method="post">
        <label for="campo">Ingresa un número (debe ser entero):</label>
        <input type="text" id="campo" name="campo">
        <button type="submit">Enviar</button>
    </form>
</section>

{% endblock %}
