<form method="POST">
    {{ form.hidden_tag() }}
    <label for="email">Correo electrónico:</label>
    {{ form.email(class="form-control") }}
    <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
</form>
