<form method="POST">
    {{ form.hidden_tag() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>
    {% endif %}
    {% endwith %}

    <div class="form-group">
        <label for="email">Correo electrónico:</label>
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
        <div class="text-danger">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
</form>