<link rel="stylesheet" href="{{ url_for('static', filename='css/sms.css') }}">
<script src="{{ url_for('static', filename='js/components/sms.js') }}"></script>

{% block content %}
<div class="container">
    <form action="{{ url_for('sms_recover.reset_password') }}" method="POST">
        <div class="form-group">
            <label for="password">Nueva Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div id="error-nueva-contrasena" class="text-danger" style="display: none;">
                La contraseña debe tener al menos 8 caracteres, una mayúscula y un número.
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            <div id="error-contrasena" class="text-danger" style="display: none;">
                Las contraseñas no coinciden.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
    </form>
</div>
{% endblock %}