    <link rel="stylesheet" href="{{ url_for('static', filename='css/token.css') }}">
<form method="POST">
    {{ form.hidden_tag() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>
    {% endif %}
    {% endwith %}

    <div class="form-group">
    <label for="nueva_contrasena">Nueva Contraseña:</label>
    {{ form.nueva_contrasena(class="form-control", required=True, minlength="8", pattern="^(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$", title="Debe contener al menos 8 caracteres, una mayúscula, un número y un carácter especial.") }}

    {% if form.nueva_contrasena.errors %}
    <div class="text-danger">
        {% for error in form.nueva_contrasena.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>


    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
</form>