<link rel="stylesheet" href="{{ url_for('static', filename='css/token.css') }}">
<script src="{{ url_for('static', filename='js/components/validacionrestablecer.js') }}"></script>


<form method="POST">
    {{ form.hidden_tag() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
        {{ messages[0][1] }}
    </div>
    {% endif %}
    {% endwith %}

    <div class="form-group">
        <label for="nueva_contrasena">Nueva Contraseña:</label>
        {{ form.nueva_contrasena(class="form-control", required=True, id="nueva_contrasena") }}

        <div class="text-danger" id="error-nueva-contrasena" style="display: none;">
            <p>Debe contener al menos 8 caracteres, una mayúscula y un número.</p>
        </div>

        {% if form.nueva_contrasena.errors %}
        <div class="text-danger">
            {% for error in form.nueva_contrasena.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="confirmar_contrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="form-control" required>

        <div class="text-danger" id="error-contrasena" style="display: none;">
            <p>Las contraseñas no coinciden.</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
</form>
