<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Happy Box{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/seccion_option.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/seccion_option-lista.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/breadcrumb.css') }}">
    <script src="{{ url_for('static', filename='js/components/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/breadcrumb.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/styles.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>



    {% block head %}{% endblock %}
</head>

<body>
    <header id="header" class="header">
        <nav class="navbar navbar-light bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="#">
                    <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
                        alt="MDB Logo" loading="lazy" />
                </a>

                <div class=" d-lg-flex align-items-center">
                    <div class="dropdown">
                        <a data-bs-toggle="dropdown" class="dropdown-toggle d-flex align-items-center hidden-arrow"
                            href="#" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                                height="25" alt="User Avatar" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li><a class="dropdown-item" href="#">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumbsx">
                <li class="breadcrumbsx-item">
                    <a href="{{ url_for('auth.index') }}">Home</a>
                </li>
                {% for crumb in breadcrumbs %}
                {% if crumb.url %}
                <li class="breadcrumbsx-item">
                    <a href="{{ crumb.url }}" class="breadcrumbsx-link">
                        <span class="breadcrumbsx-text">{{ crumb.name }}</span>
                    </a>
                </li>
                {% else %}
                <li class="breadcrumbsx-item active" aria-current="page">
                    <span class="breadcrumbsx-text">{{ crumb.name }}</span>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </nav>





    </header>

    <div class="menu-container">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h2>Menú</h2>
                <button class="close-menu" id="close-menu"><i class="fas fa-times"></i></button>
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('auth.index') }}"><i class="fas fa-home"></i> Inicio</a></li>
                <li>
                    <a href="#" class="dropdown-btn">
                        <i class="fas fa-list"></i> Gael <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="dropdown-options">
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Materias <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.materias_gael_base') }}"><i class="fas fa-folder"></i> Base de Datos</a></li>
                                <li><a href="{{ url_for('auth.materias_gael_ingles') }}"><i class="fas fa-folder"></i> Ingles</a></li>
                                <li><a href="{{ url_for('auth.materias_gael_programacion') }}"><i class="fas fa-folder"></i> Programacion</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Juegos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.juegos_gael_metro') }}"><i class="fas fa-folder"></i> Metro</a></li>
                                <li><a href="{{ url_for('auth.juegos_gael_cod') }}"><i class="fas fa-folder"></i> COD</a></li>
                                <li><a href="{{ url_for('auth.juegos_gael_fornite') }}"><i class="fas fa-folder"></i> Fornite</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Proyectos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.proyectos_gael_connect') }}"><i class="fas fa-folder"></i> Connectricity</a></li>
                                <li><a href="{{ url_for('auth.proyectos_gael_biblioteca') }}"><i class="fas fa-folder"></i> Biblioteca</a></li>
                                <li><a href="{{ url_for('auth.proyectos_gael_butique') }}"><i class="fas fa-folder"></i> Boutique</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-btn">
                        <i class="fas fa-list"></i> Jesus <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="dropdown-options">
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Materias <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.materias_jesus_base') }}"><i class="fas fa-folder"></i> Base de Datos</a></li>
                                <li><a href="{{ url_for('auth.materias_jesus_ingles') }}"><i class="fas fa-folder"></i> Ingles</a></li>
                                <li><a href="{{ url_for('auth.materias_jesus_programacion') }}"><i class="fas fa-folder"></i> Programacion</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Juegos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.juegos_jesus_apex') }}"><i class="fas fa-folder"></i> Apex</a></li>
                                <li><a href="{{ url_for('auth.juegos_jesus_cod') }}"><i class="fas fa-folder"></i> COD</a></li>
                                <li><a href="{{ url_for('auth.juegos_jesus_fornite') }}"><i class="fas fa-folder"></i> Fornite</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Proyectos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.proyectos_jesus_mg') }}"><i class="fas fa-folder"></i> MG-400</a></li>
                                <li><a href="{{ url_for('auth.proyectos_jesus_biblioteca') }}"><i class="fas fa-folder"></i> Bilioteca</a></li>
                                <li><a href="{{ url_for('auth.proyectos_jesus_butique') }}"><i class="fas fa-folder"></i> Butique</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-btn">
                        <i class="fas fa-list"></i> Gustavo <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="dropdown-options">
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Materias <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.materias_tavo_desa') }}"><i class="fas fa-folder"></i> Desarrollo web</a></li>
                                <li><a href="{{ url_for('auth.materias_tavo_empre') }}"><i class="fas fa-folder"></i> Emprendimiento</a></li>
                                <li><a href="{{ url_for('auth.materias_tavo_mate') }}"><i class="fas fa-folder"></i> Matematicas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Juegos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.juegos_tavo_call') }}"><i class="fas fa-folder"></i> Call of duty</a></li>
                                <li><a href="{{ url_for('auth.juegos_tavo_fornite') }}"><i class="fas fa-folder"></i> Fornite</a></li>
                                <li><a href="{{ url_for('auth.juegos_tavo_free') }}"><i class="fas fa-folder"></i> Free fire</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Proyectos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="{{ url_for('auth.proyectos_tavo_cues') }}"><i class="fas fa-folder"></i> Cuestionario</a></li>
                                <li><a href="{{ url_for('auth.proyectos_tavo_mensa') }}"><i class="fas fa-folder"></i> Mensajes</a></li>
                                <li><a href="{{ url_for('auth.proyectos_tavo_tareas') }}"><i class="fas fa-folder"></i> Tareas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-btn">
                        <i class="fas fa-list"></i> Roberto <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="dropdown-options">
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Materias <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="#"><i class="fas fa-folder"></i> Matematicas</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> Ingles</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> Ciencias</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Juegos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="#"><i class="fas fa-folder"></i> Shooters</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> Indie</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> RPG</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-btn">
                                <i class="fas fa-list"></i> Proyectos <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-options">
                                <li><a href="#"><i class="fas fa-folder"></i> Industriales</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> Sociales</a></li>
                                <li><a href="#"><i class="fas fa-folder"></i> Investigación</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fas fa-info-circle"></i> Acerca de</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Contacto</a></li>
                <li><a href="{{ url_for('auth.protected') }}"><i class="fas fa-envelope"></i> Cuentas de usuario</a></li>
                <br>
            </ul>
        </div>
        <div class="contents">
            <button class="toggle-menu" id="toggle-menu"><i class="fas fa-bars"></i></button>
        </div>
    </div>

    <!-- Cuerpo del contenido específico -->
    <main id="main" class="main">
        {% block content %}
        {% endblock %}
    </main>

    </div>

    <footer>
        <div class="footer-container">
            <p>&copy; {{ year }} Todos los derechos reservados.</p>
            <p>
                <a href="#">Política de Privacidad</a> | 
                <a href="#">Términos del Servicio</a>
            </p>
        </div>
    </footer>

</body>

</html>