{% extends "base.jinja" %}

{% block title %}Gestión de Contenido{% endblock %}

{% block content %}
<div class="search-container d-flex">
    <input type="text" id="search-input" placeholder="Buscar por nombre ....." class="form-control"
        onkeyup="filterContent()">
    <button type="button" id="cancel-search" class="btn btn-secondary ms-2" style="display:none;"
        onclick="cancelSearch()">Cancelar</button>
</div>

<!-- Contenedor donde `catalogo.js` insertará el contenido dinámicamente -->
<div id="content-container">
    <h2 class="text-center">Cargando contenido...</h2>
</div>


{% endblock %}