.breadcrumbsx {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1rem;
}

.breadcrumbsx-item {
    display: inline-block;
}

.breadcrumbsx-item a {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
}

.breadcrumbsx-item.active {
    color: #6c757d;
}

.breadcrumbsx-item+.breadcrumbsx-item::before {
    content: ">";
    color: #6c757d;
}