.menu-container {
  grid-area: sidebar;
  height: 100%;
  background-color: #2c3e50;
  padding: 20px;
}

.sidebar {
  width: 210px;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;


}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.sidebar-header {
  padding: 15px;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #ecf0f1;
}

.close-menu {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1.2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  display: none;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.menu li a i {
  margin-right: 10px;
}

.menu li a:hover {
  background-color: #1abc9c;
}


.dropdown-menu {
  display: none;
  background-color: #34495e;
  padding-left: 15px;
}

.dropdown-btn.active+.dropdown-menu {
  display: block;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown-btn.active .dropdown-icon {
  transform: rotate(180deg);
}

.content {
  border-left: none;
  width: 0;
  width: 100%;
  padding: 0;
}


.content .toggle-menu {
  background: #1abc9c;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.content .toggle-menu:hover {
  background: #16a085;
}